@import "../../styles/styles.scss";

.locationDetail {

    padding: 25px 50px 25px 50px;

    .titleLocationNamePicture {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .titleLocation {
            color: $nav-front-color;

            h2 {
                font-size: 36px;
                padding: 5px 0px;
            }

            h3 {
                font-size: 18px;
                padding: 5px 0px;
            }

        }

        .namePicture {
            display: flex;
            align-items: center;

            h4 {
                color: $nav-front-color;
                padding: 10px;
                font-size: 18px;
            }

            img {
                width: 64px;
                height: 64px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }

    .tagsRating {

        padding: 25px 0px;
        display: flex;
        justify-content: space-between;

        .tags {

            display: flex;

            div {
                display: flex;
                margin-right: 20px;
                background-color: $nav-front-color;
                font-size: 14px;
                color: white;
                width: 110px;
                border-radius: 10px;
                align-items: center;
                justify-content: center;
            }
        }

    }

    .descriptionEquipements {
        display: grid;
        width: auto;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px
    }
}