footer {
    width: 100%;
    height: 209px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 0;
    background-color: black;

    img {

        width: auto;
    }

    p {
        color: white;
    }
}