.cardTitle {
    position: relative;
    width: 100%;
    display: flex;

    img {
        width: 100%; // Assurez-vous que l'image prend toute la largeur du conteneur
        height: 223px;
        display: block;
        border-radius: 25px;
        object-fit: cover;
        filter: brightness(0.5);
    }

    h1 {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; // Changez la couleur du texte selon votre préférence
        text-align: center;
        font-size: 48px;
    }
}