@import "../../styles/styles.scss";


.cardDescription {
    margin: 25px 0px;
    color: white;

    .titleContainer {
        height: 52px;
        padding: 0px 25px;
        border-radius: 5px;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $nav-front-color;
        cursor: pointer;

        &.rounded {
            border-radius: 5px 5px 0 0;
            background-color: $nav-front-color; // Appliquer le border-radius uniquement aux coins supérieurs
        }
    }

    ul {
        border-radius: 0 0 5px 5px;
        background-color: $nav-front-color;

        li {
            padding: 10px 25px;
            margin: 0;
            list-style-type: none;
        }

    }
}