.cardLocation {

    width: 100%;
    height: 340px;
    justify-content: center;
    align-items: center;

    div {
        position: relative;

        img {
            width: 100%;
            height: 341px;
            object-fit: cover;
            border-radius: 10px;
            filter: brightness(0.8);

        }

        p {
            position: absolute;
            bottom: 10px; // Ajustez selon vos besoins
            left: 10px; // Ajustez selon vos besoins
            margin: 0;
            font-size: 18px;
            color: #fff; // Couleur du texte, ajustez selon vos besoins
        }
    }

}